---
import { Image } from 'astro:assets';
import logo from '../assets/logo.webp';

const base = import.meta.env.BASE_URL;
---

<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href={base}>
  <Image src={logo} alt="Blog Logo" width={75} height={50} />
</a>
